{% extends 'base.html.twig' %}

{% block title %}Accueil - {% endblock %}

{% block body %}
<header>
{% if app.user %}
                        <div class="mb-3">
                        <p class="connected"> Salut <span class="pseudo_connect"> {{ app.user.name }} </span>!</p>
                        </div>
                    {% endif %}
<h1 class="title_header">Snowtricks</h1>
<h2>Pour les accros de la glisse  !</h2>
</header>
{% endblock %}
