@font-face {
  font-family: olivier;
  src: url("../fonts/olivier.ttf") format("truetype");
}

@font-face {
  font-family: lato;
  src: url("../fonts/lato.ttf") format("truetype");
}
html{
  overflow-x:hidden;
}
header, #register, #login{
  height: 100vh;
  width: 100%;
  padding: 25vh 0 0 0;
  background: url("/img/bg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#tricks{
  width: 100%;
  padding: 25vh 0 0 0;
  background: url("/img/bg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
nav{
  background: #fff;
}
.navbar-light .navbar-nav .nav-link{
  font-family: olivier;
  color: #e2fcfb;
  text-shadow: 1px 1px  blue;
  margin: 0 25px;
  font-size: 25px;
}
.navbar-light .navbar-nav .nav-item:before{
  background-image: url('');
}
.navbar-light .navbar-nav .nav-item:hover{
  background-image: url('/img/flocon.png');
  background-position: center;
  background-repeat: no-repeat;
}
.navbar-light .navbar-nav .nav-link:hover{
  color: #e2fcfb;
}
.navbar-light .navbar-brand, footer .navbar-brand{
  font-family: olivier;
  color: #e2fcfb;
  text-shadow: 1px 1px  blue;
  margin: 0 25px;
  font-size: 40px;
  text-align: center;
}
.navbar-light .navbar-brand:hover{
  font-family: olivier;
  color: #e2fcfb;
  text-shadow: 1px 1px  blue;
  margin: 0 25px;
  font-size: 40px;
}
h1 {
  text-align: center;
  font-size: 100px;
  color: #e2fcfb;
  font-family: olivier;
  text-shadow: 1px 1px  blue;
}
#tricks{
padding: 40vh 0;
}
.title_header{
  font-size: 200px;
}

h2 {
  text-align: center;
  font-size: 50px;
  font-family: olivier;
  color: #e2fcfb;
  text-shadow: 1px 1px  blue;
}
.pseudo_connect{
  font-size: 25px;
  font-family: olivier;
  color: #e2fcfb;
  text-shadow: 1px 1px  blue;
}
p{
  font-size: 20px;
  font-family: lato;
}

#trick_home{
  background: #fff;
  padding-top: 100px;
}
.btn-primary{
  background-color: #e2fcfb;
  border: solid 2px #e2fcfb;
  color: blue;
  font-family: olivier;
}
form .btn-primary{
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.btn-primary:hover{
  background-color: blue;
  border: solid 2px #e2fcfb;
  color: #e2fcfb;
}

footer{
  margin-top: 50px;
  padding: 25px 0;
  border-top: solid 2px #e2fcfb;
}
.logo_footer{
  font-family: olivier;
  color: #e2fcfb;
  text-shadow: 1px 1px  blue;
  margin: 0 25px;
  font-size: 40px;
  text-decoration: none;
}

.logo_footer:hover{
  font-family: olivier;
  color: #e2fcfb;
  text-shadow: 1px 1px  blue;
  margin: 0 25px;
  font-size: 40px;
}
.form-control{
  width: 40%;
  background: transparent;
  border: solid 3px #fff;
  color: #fff;
  font-family: lato;
  font-size:20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
form input{
  margin-bottom: 20px;
  font-family: lato;
  font-size: 14px;
  text-align: center;
}
form{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

label{
  font-family: olivier;
  color: #fff;
  font-size: 25px;
 position: absolute;
}
.trick{
  margin-top: 100px;
}
.tricks{
  display: flex;  
}
.photo_tricks{
  width: 450px;
  height: 250px;
}
.tricks h2{
  text-align: left !important;
  font-size: 35px;
  color: blue;
}
.tricks a{
  text-decoration: none;
}
.tricks{
  background: #e2fcfb;
  width: 450px;
  height: 100px;
  padding-top: 35px;
}
.links_tricks img{
width:30px;
height:30px;
}
.single img{
width: 600px;
height: 400px;
}
.single{
  margin: 100px 0;
}
.single h2{
  margin-bottom: 50px;
}
 .blue{
  background: #e2fcfb;
  padding: 50px 0px;
  justify-content: space-around;
}
.blue p{
  color: blue;
  text-align: center;
}
.blue .description{
  margin-bottom:100px;
}
.blue .bottom{
  border: solid 1px blue;
  margin: 0 50px;
  padding-top:15px;
}
.blue .bottom h3{
  font-weight: bold;
  color: blue;
  text-align: center;
  font-family: olivier;
  font-size:25px;
}
#scroll_to_top {
  width: 200px;
  height: 100px;
  bottom: 50px;
  right: 30px;
  display: block;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}
#scroll_to_top img {
  width: 200px;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
#scroll_to_down{
  margin: 25vh;
  display: block;
  margin-left: 45vw;
}
.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
  border: solid 3px #e2fcfb;
  box-shadow: 3px 3px 3px blue;
}
.close{
  display: flex;

}
.popup .btn-primary a{
  text-decoration: none;
  text-align: center;
}
 .btn-primary{
border: solid 1px blue;
margin-bottom:25px;
}

 .btn-primary:hover{
  background: blue;
}
.btn-primary:hover a{
  color: #e2fcfb;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}
.create{
  font-size:20px;
  text-decoration: none;
}
.comments{
  display: inline-flex;
  align-items: center;
}
.comment{
  font-family: olivier;
  font-size:20px;
  color: blue;
  text-align: center;
  padding-left:20px;
}
.comments img{
  width:50px;
  height:50px;
  object-fit: cover;
}
.comments h3{
  font-family: olivier;
  font-size:25px;
  color: blue;
  padding-left: 20px;
}
.form-single{
background: blue !important;
}
.form-text{
  color:#ffff;
  font-family: olivier;
  text-align: center;
  font-size: 25px; 
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}


