{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié ? | {% endblock %}

{% block body %}

    <section id='tricks'>
        <h1>Mot de passe oublié</h1>
        <div class="container" >
            <div class="row">
                <div class="col form">
                        {{ form_start(ForgotPassword) }}
                            {{ form_row(ForgotPassword.email) }}

                            <button type="submit" class="btn btn-lg btn-primary my-3">Réinitialiser le mot de passe</button>
                            <p>Un E-mail vous sera envoyé</p>
                        {{ form_end(ForgotPassword) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}