{% extends 'base.html.twig' %}

{% block title %}Réinitialiser le mot de passe | {% endblock %}

{% block body %}

    <section id='tricks'>
        <h1>Réinitialiser le mot de passe</h1>
        <div class="container" >
            <div class="row">
                <div class="col form">
                        {{ form_start(ResetPassword) }}
                            {{ form_row(ResetPassword.password) }}
                            <button type="submit" class="btn btn-lg btn-primary my-3">Réinitialiser le mot de passe</button>
                        {{ form_end(ResetPassword) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}