{% extends 'base.html.twig' %}

{% block title %}Les Tricks | {% endblock %}

{% block body %}
    <section id='tricks'>
        <h1>Les Tricks</h1>
        <div class='container-fluid'>
            <div class="row">
                {% for trick in tricks %}
                <div class="col-3 trick">
                    <img class="photo_tricks" src="/img/{{trick.photo}}">
                <div class="container-fluid tricks">
                        <div class="col-10"><a href="/tricks/{{trick.name}}"><h2>{{trick.name}}</h2></a></div>
                        <div class="col-2"><a href="tricks/update" class="links_tricks"><img src="/img/update.png"></a>
                        <a href="tricks/delete" class="links_tricks"><img src="/img/delete.png"></a></div>
                </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
