{% extends 'base.html.twig' %}

{% block title %}Modifier la video | {% endblock %}

{% block body %}

    <section id='tricks'>
        <h1>Modifier la video</h1>
        <div class="container" >
            <div class="row">
                <div class="col form">
                        {{ form_start(UpdateVideo) }}
                            {{ form_row(UpdateVideo.video)}}
                            <button type="submit" class="btn btn-lg btn-primary my-3">Modifier la vidéo</button>
                        {{ form_end(UpdateVideo) }}
                </div>
            </div>
        </div>

    </section>
{% endblock %}